name: OWASP ZAP Scan

on: [push]

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build and run Docker container
        run: |
          docker build -t myapp .
          docker run -d -p 5000:5000 --name testapp myapp
          sleep 15  # Espera a app arrancar

      - name: Run ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.10.0
        with:
          target: 'http://localhost:5000'
          fail_action: false
          cmd_options: '-J zap-report.json -w zap-report.md -r zap-report.html'

      - name: Upload ZAP Reports
        uses: actions/upload-artifact@v3
        with:
          name: zap-scan-report
          path: |
            zap-report.json
            zap-report.md
            zap-report.html
